/* Header
------------------------------------------------------------*/

.c-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;

  &.is-invert {
    mix-blend-mode: difference;
    filter: invert(1);
  }

  &_nav {
    position: absolute;
    top: 40px;
    right: 50px;
  }

  &_left {
    position: absolute;
    top: 40px;
    left: 50px;

    @include maxW(1023px) {
      top: 20px;
      left: 22px;
    }
  }

  &_right {
    @include maxW(1023px) {
      position: absolute;
      top: 20px;
      right: 25px;
    }
  }

  &_link {
    font-family: $ttcommons-fonts;
    font-weight: 200;
    font-size: 2.4rem;
    line-height: 1.54;
    letter-spacing: 1.92px;
    width: fit-content;
    text-align: right;
    margin-left: auto;

    @include maxW(1023px) {
      text-align: left;
      margin-left: 0;
      font-size: 3.6rem;
      line-height: 1.67;
      letter-spacing: 2.16px;
    }
  }

  &_menu {
    background-color: $main-bg-cl;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 98;
    transition: 0.3s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.--active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}

.c-menu {
  background-image: url(/assets/img/bg_noise.webp);
  background-repeat: repeat;
  mix-blend-mode: multiply;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &_top {
    position: fixed;
    width: 100%;
    top: 0;
  }

  &_center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  &_bottom {
    padding: 20px;
  }

  &_toggle {
    margin-top: 8px;
    display: flex;
    align-items: baseline;
    gap: 10px;
    cursor: pointer;

    p {
      font-size: 1.6rem;
    }
  }

  @include maxW(1023px) {
    &_pad {
      display: flex;
      justify-content: space-between;
      padding: 20px 25px 20px 22px;
    }
  }
}
