/* layout
------------------------------------------------------------*/
@-ms-viewport {
  width: device-width;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 100%;
  margin: auto;
  background-color: $main-bg-cl;
  color: $main-text-cl;
  font-family: $main-fonts;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1;
  position: relative;
  overflow-x: hidden;

  &.--disable-scroll {
    overflow: hidden;
  }
}

.layout {
  background-color: $main-bg-cl;
  position: relative;
  width: 100%;
  top: 1px;
  z-index: 2;

  &_wrapper {
    background-image: url(/assets/img/bg_noise.webp);
    background-repeat: repeat;
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

main {
  flex: 1;
}

section {
  overflow: hidden;
}

// .wrapper {
//   opacity: 0;
//   transition: opacity 0.8s ease-in-out;

//   &.--fade {
//     opacity: 1;
//     transition-delay: 0.2s;
//   }
// }

::selection {
  background: #ededed;
  color: #000;
}
