/* Utils
------------------------------------------------------------*/
/* only device */

.sp-only,
.is-hidden {
  display: none !important;
}

@include maxW(1023px) {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}

// ttcommons fonts
.ttcommons-fonts {
  font-family: $ttcommons-fonts;
}

// fonts commons light
.fw-200 {
  font-weight: 200;
}

// fonts commons extraLight
.fw-100 {
  font-weight: 100;
}

.txt-white {
  color: $white-cl;
}

// lazy load image
// .lazyload,
// .lazyloading {
//   opacity: 0;
// }

// .lazyloaded {
//   opacity: 1;
//   transition: opacity 0.8s ease-in-out;
// }

.--pad-def {
  padding: 0 50px;

  @include maxW(1023px) {
    padding: 0 22px;
  }
}

// scroll fade
.js-fade {
  opacity: 0;

  &.inview {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
  }
}

// keyframes
@keyframes scroll-down-vertical {
  0% {
    height: 0;
    top: 0;
  }
  30% {
    height: 100%;
    top: 0;
  }
  100%,
  60% {
    height: 100%;
    top: 100%;
  }
}

@keyframes scroll-down {
  0% {
    width: 0;
    left: 0;
  }

  30% {
    width: 100%;
    left: 0;
  }
  100%,
  60% {
    width: 100%;
    left: 100%;
  }
}

@keyframes reservation-ring {
  0% {
    transform: rotate(0);
  }
  0% {
    transform: rotate(1turn);
  }
}
