/* variables
------------------------------------------------------------*/
$main-fonts: "ryo-gothic-plusn", "tt-commons-pro", sans-serif;
$ttcommons-fonts: "tt-commons-pro", sans-serif;

//color common
$main-bg-cl: #f4f4ec;
$main-text-cl: #000;
$black-cl: #000;
$white-cl: #fff;

:root {
  --app-height: 100vh;
}
