.homepage {
  .access {
    &_container {
      padding-top: 212px;
      margin-bottom: 100px;

      @include maxW(1023px) {
        padding-top: 126px;
        margin-bottom: 58px;
      }
    }

    &_map {
      margin-top: 12px;
      width: 100%;
      height: 41.66vw;

      iframe {
        width: 100%;
        height: 100%;
      }

      @include maxW(1023px) {
        margin-top: 10px;
        padding: 0 !important;
        height: 100%;
        aspect-ratio: 1/1;
      }
    }

    &_rows {
      margin-top: 50px;
      display: flex;
      align-items: flex-start;
      flex-direction: row-reverse;

      @include maxW(1023px) {
        display: block;
        margin-top: 70px;
      }
    }

    &_left,
    &_right {
      width: 50%;

      @include maxW(1023px) {
        width: 100%;
      }
    }

    &_left {
      .logo {
        img {
          width: auto;
          height: 80px;
          object-fit: contain;
        }
      }

      .address {
        margin-top: 37px;
        font-size: 1.5rem;
        line-height: 1.95;
        letter-spacing: 0.42px;
      }

      .social {
        margin-top: 40px;

        a {
          display: flex;
          align-items: center;
          gap: 15px;
          margin-bottom: 15px;

          img {
            width: 20px;
            height: auto;
            object-fit: contain;
          }

          p {
            font-size: 1.4rem;
            letter-spacing: 0.56px;
          }

          p.instagram {
            font-size: 1.8rem;
            letter-spacing: 1.7px;
            margin-top: 3px;
          }
        }
      }

      @include maxW(1023px) {
        margin-top: 77px;

        .logo {
          img {
            height: 60px;
          }
        }

        .address {
          margin-top: 40px;
          font-size: 1.3rem;
          line-height: 1.7;
          letter-spacing: 0.52px;
        }

        .social {
          margin-top: 40px;

          a {
            margin-bottom: 12px;
            
            p {
              font-size: 1.3rem;
              letter-spacing: 0.52px;

              &.instagram {
                font-size: 1.6rem;
                letter-spacing: 1.6px;
                margin-top: 0;
              }
            }
          }
        }
      }
    }

    &_right {
      .title {
        font-size: 1.5rem;
        line-height: 1.93;
        letter-spacing: 0.6px;
      }

      .map {
        margin-top: 35px;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }

      .desc {
        margin-top: 40px;
        font-size: 1.4rem;
        line-height: 1.8;
        letter-spacing: 0.56px;
      }

      @include maxW(1023px) {
        .title {
          font-size: 1.4rem;
          line-height: 2;
          letter-spacing: 0.56px;
        }

        .map {
          margin-top: 28px;
        }

        .desc {
          margin-top: 30px;
          font-size: 1.3rem;
          line-height: 1.5;
          letter-spacing: 0.52px;
        }
      }
    }
  }
}
