.homepage {
  .service {
    &_swiper {
      .c-swiper_img {
        --padding-bottom: 100vh;
        background-color: #aac4ab;
      }

      @include maxW(1023px) {
        .c-swiper_control {
          display: none;
        }
      }
    }

    &_heading {
      @include maxW(1023px) {
        position: absolute;
        top: 100px;
        left: 22px;
        z-index: 2;
      }
    }

    &_content {
      position: absolute;
      bottom: 50px;
      z-index: 1;
      color: $white-cl;
      width: 40%;

      .desc {
        font-size: 1.5rem;
        line-height: 1.93;
        letter-spacing: 0.6px;
      }

      @include maxW(1023px) {
        width: 100%;
        bottom: 30px;
      }
    }

    &_menu {
      margin-top: 25px;
      margin-bottom: 100px;

      li {
        font-size: 3.2rem;
        line-height: 1.28;
        letter-spacing: 2.4px;
        font-weight: 100;
        font-family: $ttcommons-fonts;
        cursor: pointer;
        opacity: 0.5;
        transition: opaciy 0.5s ease-in-out;
        width: fit-content;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: 45%;
          left: -50px;
          width: 0;
          height: 1px;
          background-color: $white-cl;
          transform: tranlsateY(-50%);
          transition: width 0.5s ease-in-out;
        }

        &.active {
          opacity: 1;

          &:after {
            width: 30px;
          }
        }
      }

      @include maxW(1023px) {
        margin: 0;

        li {
          font-size: 2.4rem;
          line-height: 1.2;
          letter-spacing: 1.95px;

          &:after {
            left: -22px;
          }

          &.active {
            &:after {
              width: 12px;
            }
          }
        }
      }
    }

    &_overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.4);
      z-index: 1;
      pointer-events: none;
    }

    &_popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      padding: 60px 45px;
      transition: all 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      display: flex;
      justify-content: center;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.8);
      will-change: opacity;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      &.--active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }

      @include maxW(1023px) {
        padding: 0;
      }

      .popup-close {
        cursor: pointer;
        position: fixed;
        top: 50px;
        right: 50px;
        z-index: 1;

        @include maxW(1023px) {
          position: absolute;
          top: 25px;
          right: 25px;

          svg {
            width: 15px;
            height: 15px;

            line {
              stroke: $black-cl;
            }
          }
        }
      }

      .popup-inner {
        width: 58.5%;
        height: max-content;
        background-color: #f8f8f2;

        @include maxW(1023px) {
          width: 100%;
        }
      }

      .popup-body {
        background-image: url(/assets/img/bg_noise.webp);
        background-repeat: repeat;
        mix-blend-mode: multiply;
      }

      .popup-head {
        padding-top: 38px;
        margin-bottom: 60px;
        font-size: 4rem;
        line-height: 1.52;
        letter-spacing: 3px;

        @include maxW(1023px) {
          padding-top: 50px;
          margin-bottom: 45px;
          font-size: 2.8rem;
          line-height: 1.66;
          letter-spacing: 1.95px;
        }
      }

      .popup-title {
        font-family: $ttcommons-fonts;
        font-size: 3.2rem;
        font-weight: 100;
        line-height: 1.66;
        letter-spacing: 2.4px;

        @include maxW(1023px) {
          font-size: 2.4rem;
          line-height: 1.5;
          letter-spacing: 1.8px;
        }
      }

      .popup-desc {
        margin-top: 25px;
        font-size: 1.4rem;
        line-height: 1.9;
        letter-spacing: 1.3px;
        text-align: justify;
        font-feature-settings: "palt" 1;

        @include maxW(1023px) {
          margin-top: 25px;
          font-size: 1.3rem;
          line-height: 1.7;
        }
      }

      .popup-list {
        margin-top: 45px;

        p {
          font-size: 1.4rem;
          line-height: 1.5;
          letter-spacing: 0.56px;
        }

        .rows {
          border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
          padding: 30px 25px 30px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 25px;

          &:last-child {
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
          }
        }

        @include maxW(1023px) {
          margin-top: 30px;

          p {
            font-size: 1.3rem;
            line-height: 1.73;
            letter-spacing: 0.52;
          }

          .rows {
            padding: 20px 20px 20px 0;
            gap: 15px;
          }
        }
      }

      .popup-notes {
        margin-top: 47px;

        p {
          font-size: 1.3rem;
          line-height: 1.74;
          letter-spacing: 0.52px;
          text-indent: -8px;
          margin-left: 8px;

          a {
            display: inline;
            text-decoration: underline;
            text-underline-offset: 3px;
          }
        }

        @include maxW(1023px) {
          margin-top: 30px;

          p {
            font-size: 1.2rem;
            line-height: 1.5;
            letter-spacing: 0.48px;
          }
        }
      }

      .popup-link {
        margin: 50px auto 0;

        @include maxW(1023px) {
          margin: 38px auto 0;
        }
      }

      .popup-content {
        padding: 45px 60px 60px;
        border-bottom: 1px solid $white-cl;

        &:first-child {
          padding-top: 0;
        }

        @include maxW(1023px) {
          padding: 50px 22px 60px;
        }
      }
    }

    &_option {
      margin-top: 105px;

      @include maxW(1023px) {
        margin-top: 50px;
      }
    }

    &_list {
      margin-top: 56px;
      position: relative;
      overflow: hidden;

      @include maxW(1023px) {
        margin: 43px -22px 0;
        padding: 0 22px;
      }
    }

    &_items {
      .thumb {
        width: 100%;
        height: 100%;

        svg {
          display: block;
          height: 100%;
          width: 100%;
        }

        @include maxW(1023px) {
          svg {
            margin-top: 1px;
          }
        }
      }

      .title {
        margin-top: 45px;
        font-size: 1.8rem;
        line-height: 1.72;
        letter-spacing: 0.72px;

        @include maxW(1023px) {
          margin-top: 25px;
          font-size: 1.6rem;
          line-height: 1.81;
          letter-spacing: 0.64px;
        }
      }
      

      .desc,
      .link {
        margin-top: 20px;
        font-size: 1.5rem;
        line-height: 1.87;
        letter-spacing: 0.6px;

        &.underline {
          text-decoration: underline;
          text-underline-offset: 3px;
        }

        @include maxW(1023px) {
          margin-top: 12px;
          font-size: 1.3rem;
          line-height: 1.5;
          letter-spacing: 0.52px;
        }
      }

      .link {
        margin-top: 25px;
        text-decoration: underline;
        text-underline-offset: 3px;

        @include maxW(1023px) {
          margin-top: 20px;
        }
      }
    }
  }
}
