.homepage {
  .stay {
    &_container {
      padding-top: 220px;

      @include maxW(1023px) {
        padding-top: 150px;
      }
    }

    &_photo {
      margin-top: 50px;

      &_top {
        display: flex;
        justify-content: space-between;
        gap: 10.42%;

        .swiper-slide {
          pointer-events: none;
        }

        @include maxW(1023px) {
          gap: 30px;
        }

        .pos_01 {
          position: relative;
          width: 66.67%;

          .c-swiper_img {
            --padding-bottom: calc(640 / 960 * 100%);
            background-color: #aac4ab;
          }

          @include maxW(1023px) {
            width: 58.94%;

            .c-swiper_img {
              --padding-bottom: calc(325 / 244 * 100%);
            }
          }
        }

        .pos_02 {
          position: relative;
          margin-top: -100px;
          width: calc(100% - 10.42% - 66.67%);

          .c-swiper_img {
            --padding-bottom: calc(495 / 330 * 100%);
            background-color: #906741;
          }

          @include maxW(1023px) {
            width: calc(100% - 58.94% - 30px);

            .c-swiper_img {
              --padding-bottom: calc(186 / 140 * 100%);
            }
          }
        }
      }

      &_bottom {
        margin-top: 8.33%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        gap: 8.33%;
        padding: 0 50px 0 8.33%;

        @include maxW(1023px) {
          margin-top: 45px;
          display: block;
          padding: 0;
        }

        .content {
          flex: 1;

          h3 {
            font-size: 2.4rem;
            font-weight: 300;
            line-height: 1.45;
            letter-spacing: 1.44px;
            text-align: justify;
          }

          p {
            margin-top: 50px;
            font-size: 1.5rem;
            line-height: 1.93;
            letter-spacing: 0.6px;
            text-align: justify;
          }

          @include maxW(1023px) {
            margin-top: 55px;
            padding: 0 22px;

            h3 {
              font-size: 1.8rem;
              line-height: 1.72;
              letter-spacing: 1.8px;
            }

            p {
              margin-top: 40px;
              font-size: 1.4rem;
              line-height: 1.86;
              letter-spacing: 0.56px;
            }
          }
        }

        .slide {
          position: relative;
          width: calc(447 / 670 * 100%);

          .swiper-slide {
            pointer-events: none;
          }

          .c-swiper_img {
            --padding-bottom: calc(447 / 670 * 100%);
            background-color: #ebc9ad;
          }

          @include maxW(1023px) {
            width: 65.21%;
            margin-left: auto;
            margin-right: 22px;

            .c-swiper_img {
              --padding-bottom: calc(179 / 270 * 100%);
            }
          }
        }
      }
    }

    &_map {
      margin-top: 150px;
      padding: 0 50px;
      position: relative;

      @include maxW(1023px) {
        margin-top: 100px;
        padding: 0 22px;
      }
    }

    &_bg {
      position: relative;

      svg {
        width: 100%;
        margin: 0 auto;
      }
    }

    &_tit {
      position: absolute;
      bottom: -12px;

      @include maxW(1023px) {
        bottom: auto;
        top: -15px;
      }
    }

    &_type {
      margin-top: 60px;

      @include maxW(1023px) {
        svg {
          width: 100%;
        }
      }
    }
  }
}
