/* -------------------------------------------------------------------------- */
/*                                  home page                                 */
/* -------------------------------------------------------------------------- */

.homepage {
  // ==== bg
  .bg {
    &_container {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -2;
      pointer-events: none;

      picture {
        width: 100%;
        height: 100%;
        display: block;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &_swiper {
      width: 100%;
      height: 100%;
      overflow: hidden;

      .swiper-slide {
        opacity: 0 !important;

        &.swiper-slide-active {
          opacity: 1 !important;
        }
      }
    }

    &_overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      //   background-color: rgba($color: #000000, $alpha: 0.3);
      background-color: $black-cl;
      z-index: 1;
    }
  }
  // ==== end bg

  // ==== top
  .top {
    &_container {
      height: 100vh;
      height: var(--app-height);
      position: relative;
    }

    &_top {
      display: flex;
      justify-content: space-between;
      padding: 50px 45px;

      .right {
        margin-top: 10px;
        margin-right: 15px;
        color: $white-cl;

        p {
          font-size: 2.4rem;
          letter-spacing: 3.6px;
          line-height: 1.56;
          writing-mode: vertical-rl;
        }
      }

      @include maxW(1023px) {
        padding: 25px;

        .left {
          @include mid(false);

          svg {
            width: auto;
            height: 252.01px;
          }
        }

        .right {
          margin: 0;

          p {
            font-size: 1.8rem;
            line-height: 1.72;
            letter-spacing: 1.8px;
            writing-mode: initial;
          }
        }
      }
    }

    &_center {
      --height: 300px;

      position: absolute;
      bottom: calc(50px - var(--height));
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      p {
        font-size: 1.6rem;
        line-height: 1.66;
        letter-spacing: 1.28px;
        color: $white-cl;
      }

      .line {
        display: block;
        height: var(--height);
        width: 1px;
        background-color: rgba(255, 255, 255, 0.3);
        text-align: center;
        position: relative;
        overflow: hidden;
        margin: 0 auto;

        span {
          position: absolute;
          display: block;
          left: 0;
          top: 0;
          width: 100%;
          height: 0%;
          animation: scroll-down-vertical 4s infinite;
          background-color: $white-cl;
        }
      }

      @include maxW(1023px) {
        bottom: 25px;
        left: 25px;
        transform: initial;

        .line {
          width: 40px;
          height: 1px;

          span {
            height: 100%;
            width: 0%;
            animation: scroll-down 4s infinite;
          }
        }
      }
    }

    &_bottom {
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 99;

      @include maxW(1023px) {
        bottom: 20px;
        right: 20px;
      }
    }

    &_reservation {
      position: relative;
      padding: 15px;

      .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: -1;
        border-radius: 50%;
        transition: background-color 0.5s ease-in-out;
      }

      .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .text svg {
        animation: reservation-ring 20s linear 0s infinite;
      }

      &.--active {
        .bg {
          background-color: #967f4b;
        }
      }

      @include maxW(1023px) {
        padding: 10px;

        .arrow svg {
          width: 20px;
          height: 10px;
        }

        .text svg {
          width: 85px;
          height: 85px;
        }
      }
    }
  }
  // ==== end top

  // ==== intro
  .intro {
    &_container {
      width: 59.722%;
      margin: 400px auto 250px;
      text-align: center;
      color: $white-cl;

      @include maxW(1023px) {
        width: 100%;
        margin: 180px auto 135px;
      }
    }

    &_top {
      h1 {
        font-size: 3.2rem;
        font-weight: 300;
        letter-spacing: 3.2px;
        line-height: 1.54;
      }

      p {
        margin-top: 80px;
        font-size: 1.8rem;
        letter-spacing: 1.44px;
        line-height: 1.94;
      }

      @include maxW(1023px) {
        padding: 0 45px;

        h1 {
          font-size: 2.2rem;
          line-height: 1.75;
          letter-spacing: 2.2px;
        }

        p {
          margin-top: 45px;
          font-size: 1.4rem;
          letter-spacing: 0.56px;
          line-height: 1.86;
        }
      }
    }

    &_bottom {
      margin-top: 150px;
      overflow: hidden;

      .map {
        width: 100%;
        height: 100%;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      @include maxW(1023px) {
        margin-top: 80px;

        .map svg {
          width: 590.01px;
          height: auto;
          margin-left: -100px;
          margin-right: -75px;
        }
      }
    }
  }
  // ==== end intro
}
